{% extends 'Usuario/detalle_user.html' %}
{% load static %}


{% block controls %}
	{% csrf_token %}
	<div class="container" style="font-family: serif;">
		<div class="container col-md-8 shadow-lg p-3 mb-5 bg-body rounded">
			<h4 class="text-center fw-bold">COOPERATIVA TRAN'S PALIZADA</h4>
			<div class="row">
				<h5 class=" text-center fw-semibold">DETALLE DEL BUS</h5>
			</div>
			<div class="p-4 row">
				<div class="col">
					<img src="https://th.bing.com/th/id/R.167421f4061905a5032afc13688e96dd?rik=%2bZxvAd8eRHUbFA&pid=ImgRaw&r=0"
					     style="width: 350px;">
				</div>
				<div class="col">
					<div class="row">
						<div class="col">
							<div class=" p-2">
								<h5> <strong>Propietario</strong></h5>
								<p class="">{{ object.propietario }}</p>
							</div>
						</div>
						<div class="col">
							<div class="p-2 ">
								<h5 class=" fw-semibold"><strong>Cédula</strong></h5>
								<p class="">{{ object.cedula }}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="p-2">
								<h5 class="fw-semibold"><strong>Teléfono</strong></h5>
								<p class="">{{ object.telefono }}</p>
							</div>
						</div>
						<div class="col">
							<div class="p-2">
								<h5 class="fw-semibold"><strong>Dirección</strong></h5>
								<p class="">{{ object.direccion }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<table class="table">
				<thead>
				<tr>
					<h4 class="text-center">Información</h4>
				</tr>
				</thead>
				<tbody class="table-group-divider">
				<tr>
					<th scope="col">Modelo:</th>
					<th scope="col">Marca:</th>
					<th scope="col">Placa:</th>
					<th scope="col">Motor:</th>
				</tr>
				<tr>
					<td>{{ object.modelo }}</td>
					<td>{{ object.marca }}</td>
					<td>{{ object.placa }}</td>
					<td>{{ object.motor }}</td>
				</tr>
				<tr>
					<th scope="col">Chasis:</th>
					<th scope="col">Capacidad:</th>
					<th scope="col">Ruedas:</th>
					<th scope="col">Ejes:</th>
				</tr>
				<tr>
					<td>{{ object.chasis }}</td>
					<td>{{ object.capacidad_pasajero }}</td>
					<td>{{ object.ruedas }}</td>
					<td>{{ object.ejes }}</td>
				</tr>
				<tr>
					<th scope="col">Año de Fabricación:</th>
					<th scope="col">Año del Modelo:</th>
					<th scope="col">Kilometraje:</th>
					<th scope="col">Disco:</th>
				</tr>
				<tr>
					<td>{{ object.año_fabricado|date:"d/m/Y" }}</td>
					<td>{{ object.año_modelo|date:"d/m/Y" }}</td>
					<td>{{ object.kilometraje }}</td>
					<td>{{ object.numerobus }}</td>
				</tr>
				</tbody>
			</table>

		</div>
	</div>

{% endblock %}