{% load static %}
<nav class="navbar navbar-expand-lg" style="background-color: #003b46;">
	<div class="container-fluid">
		<a class="navbar-brand" style="color: #c4dfe6;" href=""><strong> Agencia de
	        Transporte</strong></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
		        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>
<div style=" height: 11px; background-color: #66a5ad;">
    </div>
<div class="h4 m-3 pb-2 mb-4 border-bottom border-success" style="color: #003b46;">
	{{ rol }}
    </div>
